@use "../../assets/scss/constant.scss" as c;

.card-register {
  background-color: c.$DARK_BLUE;
  border-radius: 8px;
  color: c.$WHITE;
  max-width: 480px;
  margin: 20px 0 70px;
  min-height: 400px;
  padding: 30px;

  .title {
    color: c.$WHITE;
  }

  label {
    color: c.$WHITE;
  }

  .forgot {
    color: c.$ORANGE;
  }

  .signinBtn {
    background-color: c.$ORANGE;
  }

  .btn-link{
    color: c.$ORANGE;

    &:hover{
      color: c.$NUDE;
    }
  }

  .signup {
    color: c.$ORANGE;
    
    &:hover{
        color: c.$WHITE;
    }
  }
}

.presentation-title-2 {
  font-size: 8em;
  font-weight: 700;
  padding-left: 125px;
  color: #ffffff;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: -ms-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);
  text-shadow: 2px 2px 4px #ffffff70;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.error{
  color: red;
  font-size: 1.0em;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: left;
  padding-left: 10px;
}