.searchInputs {
    margin-top: 10px;
    display: flex;
    border: 1px solid lightgrey;
    margin-top: 12px;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
    padding: 20px;
    height: 30px;
    width: 300px;
  }
  
  .searchIcon {
    height: 40px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 0px;
    margin-left: 0px;
    width: 352px;
    max-height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    padding: 0px 5px;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: auto;
    padding: 8px 0px 8px 20px;
    display: flex;
    align-items: center;
    color: black;
    border-bottom: 1px solid lightgrey;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }

  .searchResult{
    color: black;
    font-size: 1.0em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    padding-left: 10px;
  }